
<div class="max-w-[360px] flex flex-col items-center">
    <div class="flex flex-col items-center gap-2 mb-4">
        <h1 id="registertitle" tabindex="-1"  class="text-4xl">Welcome, adventurer! </h1>
        <p class="text-justify text-sm">Incredible quests, fierce battles, and untold treasures await you in the world of jupiter.
        Begin your journey today—register now and forge your legend!</p>
    </div>
    <h1 class="text-3xl text-[#f39c12] border-b-2 w-fit mb-8">Account registration</h1>
    
    <form class="flex flex-col gap-2">
        <label for="">User</label>
        <div class="flex flex-row">
            <img class="w-[32px]  absolute" src="assets/images/helmet.svg" alt="">
            <input class="border-1 border-gray-500 placeholder-gray-500 bg-black p-[4px] pl-[34px]" type="text" placeholder="Enter your username.">
        </div>
        <label for="">Password</label>
        <div class="flex flex-row">
            <img class="w-[32px]  absolute" src="assets/images/password.svg" alt="">
            <input class="border-1 border-gray-500 placeholder-gray-500 bg-black p-[4px] pl-[34px]" type="text" placeholder="Enter your password.">
        </div>
        <label for="">Email</label>
        <div class="flex flex-row">
            <img class="w-[32px]  absolute" src="assets/images/email.svg" alt="">
            <input class="border-1 border-gray-500 placeholder-gray-500 bg-black p-[4px] pl-[34px]" type="text" placeholder="Enter your email.">
        </div>
        <label for="">Security code</label>
        <div class="flex flex-row">
            <img class="w-[32px]  absolute" src="assets/images/sec_code.svg" alt="">
            <input class="border-1 border-gray-500 placeholder-gray-500 bg-black p-[4px] pl-[34px]" type="text" placeholder="Enter your code.">
        </div>
        <button class="btn text-black p-2 text-xl mt-4 cursor-pointer">
            Register
        </button>
    </form>
</div>
