


<aside class="w-[90vw] lg:w-[100vw] 2xl:w-80 h-fit flex flex-col lg:flex-row 2xl:flex-col lg:justify-center gap-10">
  

    <div class=" sm:flex lg:flex-col gap-4 justify-center mx-auto lg:mx-0">
        <img class="cursor-pointer lg:mr-4 hover:opacity-100 opacity-100 w-[304px] h-fit" src="assets/images/download_img.webp" alt="">
        <img class="cursor-pointer lg:mr-4 hover:opacity-100 opacity-100 w-[304px] h-fit" src="assets/images/item_shop.webp" alt="">
    </div>

    
    <div class="mb-10 lg:min-w-[40vw] 2xl:min-w-80 bg-[#1f1f1f] p-5 shadow-2xs shadow-amber-100"> 
        
    </div>

</aside>