

<nav class="navbar" >
  <div class="logo" style="position: absolute; top: -36px;"><img src="assets/images/mt2_logo.png" alt="" style="width: 200px;"></div>
  <ul class="nav-links" style="margin-left: 200px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Events</a></li>
    <li><a href="#">Market</a></li>
    <li><a href="#">Media</a></li>
    <li><a href="#">Rankings</a></li>
    <li><a href="#">Wiki</a></li>
    <li style="position: relative; cursor: pointer;"><img style="width: 160px; position: absolute; top: -74px;" src="https://sdmntprwestcentralus.oaiusercontent.com/files/00000000-7904-61fb-9052-60b54bdc6782/raw?se=2025-06-12T05%3A57%3A07Z&sp=r&sv=2024-08-04&sr=b&scid=50f8b247-9c2d-5f16-a9af-b9f1ce54dc5f&skoid=e9d2f8b1-028a-4cff-8eb1-d0e66fbefcca&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-06-12T04%3A44%3A20Z&ske=2025-06-13T04%3A44%3A20Z&sks=b&skv=2024-08-04&sig=g%2BfAraJ1eS3vL3/EG52jNA43m4q51MspunqHhTHBB9I%3D" alt=""></li>
  </ul>
  <div class="auth-buttons">
    <button class="login-btn">Login</button>
    <button class="register-btn download-btn">Register</button>
  </div>
  
</nav>


