

<nav class="flex flex-col lg:flex-row  justify-between items-center px-[40px] py-[20px] bg-[#121212] font-[Cinzel] relative">
  <div class="2xl:absolute 2xl:top-[8px]">
    <img class="w-[200px]" src="assets/images/logo.png" alt="server logo">
  </div>
  <ul class="list-none flex flex-row flex-wrap gap-8 my-5 2xl:my-0 2xl:ml-56 ">
    <li><a class="font-semibold hover:text-[#e74c3c] cursor-pointer">Home</a></li>
    <li><a class="font-semibold hover:text-[#e74c3c] cursor-pointer">Events</a></li>
    <li><a class="font-semibold hover:text-[#e74c3c] cursor-pointer">Market</a></li>
    <li><a class="font-semibold hover:text-[#e74c3c] cursor-pointer">Media</a></li>
    <li><a class="font-semibold hover:text-[#e74c3c] cursor-pointer">Rankings</a></li>
    <li><a class="font-semibold hover:text-[#e74c3c] cursor-pointer">Wiki</a></li>
  </ul>
  <div class="flex gap-[10px] my-4 2xl:my-0">
    <button class="login-btn">Login</button>
    <button class="register-btn download-btn">Register</button>
  </div>
  
</nav>


