


<footer class="bg-[#111] text-[#ccc] p-[40px_20px_20px] border-t border-t-[#f39c12] font-[Arial] mt-52">
  <div class="flex flex-wrap max-w-6xl m-auto content-between gap-10">
    
    <div class="flex-[1_1_250px] content-center items-center">
       <img class="w-52" src="assets/images/logo.png" alt="">
      <p class="text-sm mt-2.5 text-[#999]">
        Un servidor privado de Metin2 con eventos únicos, comunidad activa y la mejor experiencia PvP.
      </p>
    </div>

    <div class="flex-[1_1_250px]">
      <h3 class="text-lg text-[#f39c12] mb-2.5">Navegación</h3>
      <ul>
        <li class="mb-2"><a class="text-[#ccc]  hover:text-[#f39c12] hover:underline" href="#">Inicio</a></li>
        <li class="mb-2"><a class="text-[#ccc]  hover:text-[#f39c12] hover:underline" href="#">Eventos</a></li>
        <li class="mb-2"><a class="text-[#ccc]  hover:text-[#f39c12] hover:underline" href="#">Ranking</a></li>
        <li class="mb-2"><a class="text-[#ccc]  hover:text-[#f39c12] hover:underline" href="#">Wiki</a></li>
      </ul>
    </div>

    <div class="flex-[1_1_250px]">
      <h3 class="text-lg text-[#f39c12] mb-2.5">Contacto</h3>
      <ul>
        <li>Discord: <a href="#">/metin2jupiter</a></li>
        <li>Email: <a href="mailto:soporte@metin2jupiter.com">soporte{{'@'}}metin2jupiter.com</a></li>
      </ul>
    </div>

  </div>

  <div class="footer-bottom text-center pt-5 text-xs text-[#666] border-t border-t-[#222] mt-8">
    © 2025 Metin2 Jupiter. Todos los derechos reservados.
  </div>
</footer>
