


<app-navbar></app-navbar>

<app-background></app-background>

<div class="font-[Roboto]">

    <div class="mt-[500px] flex justify-between">
        
        <app-left-sidebar></app-left-sidebar>
        
        <div class="min-w-[57.29vw] min-h-[100vh] shadow-[0_0_32px_#111111] flex flex-col items-center flex-wrap gap-24 bg-[#1f1f1f] p-8">

            <router-outlet></router-outlet> <!--Page content-->
   
        </div>

        <app-right-sidebar></app-right-sidebar>
        
    </div>
    
</div>

<app-footer></app-footer>