/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(to bottom, #0a0a0a 0%, #1e1e1e 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  color: #e0e0e0;
}
