


<div class="sidebar-section" style="position: relative;"> 
    <h3>Top Players</h3>
    <ul class="ranking-list">
      <li><span class="rank">#1</span> Anderson</li>
      <li><span class="rank">#2</span> Indian</li>
      <li><span class="rank">#3</span> T-Sandy</li>
      <li><span class="rank">#1</span> Anderson</li>
      <li><span class="rank">#2</span> Indian</li>
      <li><span class="rank">#3</span> T-Sandy</li>
      <li><span class="rank">#1</span> Anderson</li>
      <li><span class="rank">#2</span> Indian</li>
      <li><span class="rank">#3</span> T-Sandy</li>
    </ul>
</div>