


<div class="mb-10 lg:min-w-[40vw] 2xl:min-w-80 bg-[#1f1f1f] p-5 shadow-2xs shadow-amber-100"> 
    <h3 class="font-[Cinzel] text-2xl text-[#f39c12] mb-2.5 border-b border-b-[#f39c12]">Top Players</h3>
    <ul class="text-sm">
      <li class="py-1.5 border-b border-b-[#2e2e2e]"><span class="font-bold mr-2 text-[#e74c3c]">#1</span> Anderson</li>
      <li class="py-1.5 border-b border-b-[#2e2e2e]"><span class="font-bold mr-2 text-[#e74c3c]">#2</span> Indian</li>
      <li class="py-1.5 border-b border-b-[#2e2e2e]"><span class="font-bold mr-2 text-[#e74c3c]">#3</span> T-Sandy</li>
      <li class="py-1.5 border-b border-b-[#2e2e2e]"><span class="font-bold mr-2 text-[#e74c3c]">#1</span> Anderson</li>
      <li class="py-1.5 border-b border-b-[#2e2e2e]"><span class="font-bold mr-2 text-[#e74c3c]">#2</span> Indian</li>
      <li class="py-1.5 border-b border-b-[#2e2e2e]"><span class="font-bold mr-2 text-[#e74c3c]">#3</span> T-Sandy</li>
      <li class="py-1.5 border-b border-b-[#2e2e2e]"><span class="font-bold mr-2 text-[#e74c3c]">#1</span> Anderson</li>
      <li class="py-1.5 border-b border-b-[#2e2e2e]"><span class="font-bold mr-2 text-[#e74c3c]">#2</span> Indian</li>
      <li class="py-1.5 border-b border-b-[#2e2e2e]"><span class="font-bold mr-2 text-[#e74c3c]">#3</span> T-Sandy</li>
    </ul>
</div>