


<div class="mb-10 lg:min-w-[40vw] 2xl:min-w-80 bg-[#1f1f1f] p-5 shadow-2xs shadow-amber-100"> 
    <h3 class="font-[Cinzel] text-2xl text-[#f39c12] mb-2.5 border-b border-b-[#f39c12]">{{rankType() | titlecase }} Ranking</h3>
    <ul class="text-sm">


      @if ( rankType() === 'PLAYER') {

        @for(rank of getPlayerRanking(); track rank.rank){
          <li class="py-1.5 border-b border-b-[#2e2e2e] flex gap-4 max-w-full overflow-hidden">
            <span class="font-bold text-[#e74c3c]">#{{rank.rank}}</span> {{rank.name}} 
            <span>lv.{{rank.level}}</span>  
            <img class="w-8" src="{{'assets/images/'+ rank.kingdom + '_flag.png'}}" alt="">
          </li>
        }
      }

      @if( rankType() === 'GUILD'){
        @for(rank of getGuildRanking(); track rank.rank){
          <li class="py-1.5 border-b border-b-[#2e2e2e] flex gap-4 max-w-full overflow-auto">
            <span class="font-bold text-[#e74c3c]">#{{rank.rank}}</span> {{rank.name}} 
            <span>Pts.{{rank.points}}</span>  
            <img class="w-8" src="{{'assets/images/'+ rank.kingdom + '_flag.png'}}" alt="">
          </li>
        }
      }

    </ul>
</div>