



<!--Warrior image-->
<div class="flex flex-col items-center">
  <img class="w-[789px] h-[603px] absolute top-[124px] -z-10" src="assets/images/metin2-dark-bg.png" alt="knight">
</div>

<!--Video-->
<div class="video-container absolute h-[100vh] -z-20 opacity-30">
  <video
    class="relative top-[-13vh] right-[-5.2vw] min-w-full min-h-full h-auto object-cover blur-[px]" 
    autoplay 
    [muted]="true" 
    loop 
    playsinline>
    <source src="assets/images/trailer.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="w-[calc(100%-80vw)] h-full blur-3xl bg-[#1e1e1e] absolute top-0"></div>

  <div class="w-[calc(100%-80vw)] h-full blur-3xl bg-[#1e1e1e] absolute top-0 right-[-9vw]"></div>
</div>

<!-- Warrior particles -->
<div class="particle-container">
  <span class="particle" style="--i:1;"></span>
  <span class="particle" style="--i:2;"></span>
  <span class="particle" style="--i:3;"></span>
  <span class="particle" style="--i:4;"></span>
  <span class="particle" style="--i:5;"></span>
  <span class="particle" style="--i:6;"></span>
  <span class="particle" style="--i:7;"></span>
  <span class="particle" style="--i:8;"></span>
</div>
