



<!--Warrior image-->
<div class="flex flex-col items-center">
  <img class="w-full h-auto lg:w-[789px] 2xl:w-[789px] 2xl:h-[603px] absolute 2xl:top-[144px] -z-10" src="assets/images/metin2-dark-bg.png" alt="knight">
</div>

<!--Video-->
<div class="min-w-[100vw] max-w-[100vw] absolute right-0 h-[100vh] -z-20 opacity-30 overflow-hidden">
  <video
    class="relative min-w-[125vw] top-[-3vh] sm:min-w-[150%] sm:-top-[12vw] 2xl:top-[-16vh] 2xl:min-w-full 2xl:min-h-full h-auto object-cover blur-[px]" 
    autoplay 
    [muted]="true" 
    loop 
    playsinline>
    <source src="assets/images/trailer.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>

<!-- Warrior particles -->
<div class="particle-container">
  <span class="particle" style="--i:1;"></span>
  <span class="particle" style="--i:2;"></span>
  <span class="particle" style="--i:3;"></span>
  <span class="particle" style="--i:4;"></span>
  <span class="particle" style="--i:5;"></span>
  <span class="particle" style="--i:6;"></span>
  <span class="particle" style="--i:7;"></span>
  <span class="particle" style="--i:8;"></span>
</div>
